<div class="container">
    <!-- linha com margin top e margin botom de 5px -->
    <div class="row mt-5 mb-5">
        <!-- coluna preenchendo a largura total da tela (12) no tamano Medium do bootstrap -->
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindos ao meu Blog!</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores velit suscipit
                voluptate. Iure, natus,
                quisquam doloremque commodi nam sequi molestiae exercitationem, perspiciatis laboriosam suscipit quae.
                Deleniti reiciendis expedita quia ea!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ad culpa repellat? Aliquid atque ab
                ex amet dignissimos nihil, dolores pariatur consequuntur eius illum eos harum eligendi consectetur
                excepturi molestias!
            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/feed'>Ver o Feed</button>
    </div>
</div>