<div class="container">
    <div class="row mt-5 mb-5">
        <!-- barra lateral do feed -->
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">

                <!-- centralizar a imagem -->
                <div class="d-flex justify-content-center">
                    <img class="card-img-top rounded-circle w-75 mt-3" src="../../assets/img/foto-Deividson.jpg"
                        alt="...">
                </div>

                <div class="card-body">
                    <!-- Nome -->
                    <!--{{nome}} ira exibir o nome do usuario logado  -->
                    <h5 class="card-title text-center">{{nome}}</h5>
                    <!-- Resumo profissional -->
                    <p class="card-text text-center">Desenvolvedor Full Stack Web Java Jr (Em formação) | Generation
                        Brasil |
                        Engenheiro da Computação | UNIBTA.</p>

                    <!-- Botão LinkedIn -->
                    <a href="https://www.linkedin.com/in/deividson-gonini/"
                        class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">LinkedIn</a>

                    <!-- Botão GitHub -->
                    <a href="https://github.com/DeividsonGonini"
                        class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

                    <!-- linha de separação -->
                    <hr class="mt-4 mb-4">

                    <h6 class="mb-3 text-monoscape text-center">Pesquisar por título</h6>
                    <!-- caixa para a inserçao da pesquisa -->
                    <!-- ngModel recebera o conteudo da variavel criada no feed.component.ts -->
                    <input type="text" class="form-control mb-3 w-100" placeholder="Pesquisar Postagem"
                        [(ngModel)]="titulo">

                    <button class="btn btn-outline-warning w-100" type="button"
                        (click)="pesquisarPorTitulo()">Pesquisa</button>
                </div>
            </div>

        </div>


        <!-- itens dinamicos do feed -->
        <div class="col-md-8">

            <!-- Formulario em Angular -->
            <div>
                <h3 class="text-center mb-4 text-monospace">Como tem sido minha experiência na Generation?</h3>

                <!-- formatação do formulario -->
                <div class="form-group">
                    <label for="titulo" class="text-monospace">Título:</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite seu título"
                        [(ngModel)]="postagem.titulo">
                </div>

                <div class="form-group">
                    <label for="texto" class="text-monospace">Texto:</label>
                    <textarea name="texto" id="texto" cols="30" rows="4" class="form-control"
                        placeholder="Digite seu texto" [(ngModel)]="postagem.texto"></textarea>
                </div>

                <!-- Botao para publicar -->
                <div class=" d-flex justify-content-end">
                    <!-- (click) = evento Onclick do JavaScript (colocar a funçao que sera chamada ao clicar)-->
                    <button type="button" class="btn btn-outline-info w-25" (click)="publicar()">Publicar</button>
                </div>
            </div>
            <!-- fim do formulario -->

            <!-- linha de separação -->
            <hr class="mt-5 mb-5">

            <h3 class="text-monospace text-center mb-5">Minhas Postagens</h3>



            <!-- Alert para confirmação que o item foi apagado -->
            <!-- ngIf é uma condição que espera um boolean (true ou false) -->
            <div *ngIf='alerta'>
                <div class="alert alert-success" role="alert">
                    Postagem deletada com Sucesso!!
                </div>
            </div>


            <!-- card para receber todas as postagens -->
            <div class="card mb-4" *ngFor="let postagem of listaPostagens | orderBy: key: reverse">

                <div class="card-header">

                    <div class="row">
                        <div class="col-md-8">
                            <!-- conceito de interpolação, verificar os campos na model -->
                            <h5 class="card-title">{{postagem.titulo}}</h5>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <!-- RouterLink recebe a rota/editar passando o parametro da postagem -->
                            <button class="btn btn-outline-info mr-3" [routerLink]="['/editar', postagem.id]">
                                Editar
                            </button>

                            <!-- Envia a postagem pelo ID para a rota deletar -->
                            <button class="btn btn-outline-danger"
                                [routerLink]="['/deletar', postagem.id]">Apagar</button>

                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <p class="card-text">{{postagem.texto}}</p>
                    <!-- deixa o texto menor, como uma legenda -->
                    <small class="form-text m-0 text-muted m-3 text-monospace">
                        <!--Técnica Pipe | date: 'dd/MM/yyyy' é do Angular para conversao  -->
                        Postado em {{postagem.data | date: 'dd/MM/yyyy'}}
                        <!-- HH maiusculo para formato de 24h se for minusculo sera 12h -->
                        às {{postagem.data | date: 'HH:mm'}}

                    </small>

                </div>
            </div>
        </div>

    </div>

</div>