<div class="container">
    <div class="row mt-5 mb-5">
        <!-- barra lateral do feed -->
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">

                <!-- centralizar a imagem -->
                <div class="d-flex justify-content-center">
                    <img class="card-img-top rounded-circle w-75 mt-3" src="../../assets/img/foto-Deividson.jpg"
                        alt="...">
                </div>

                <div class="card-body">
                    <!-- Nome -->
                    <h5 class="card-title text-center">Deividson Gonini</h5>
                    <!-- Resumo profissional -->
                    <p class="card-text text-center">Desenvolvedor Full Stack Web Java Jr (Em formação) | Generation
                        Brasil |
                        Engenheiro da Computação | UNIBTA.</p>

                    <!-- Botão LinkedIn -->
                    <a href="https://www.linkedin.com/in/deividson-gonini/"
                        class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">LinkedIn</a>

                    <!-- Botão GitHub -->
                    <a href="https://github.com/DeividsonGonini"
                        class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
                </div>
            </div>

        </div>


        <!-- itens dinamicos do feed -->
        <div class="col-md-8">

            <!-- Formulario em Angular -->
            <div>
                <h3 class="text-center mb-4 text-monospace">Edição de Postagem</h3>

                <!-- formatação do formulario -->
                <div class="form-group">
                    <label for="titulo" class="text-monospace">Título:</label>
                    <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Digite seu título"
                        [(ngModel)]="postagem.titulo">
                </div>

                <div class="form-group">
                    <label for="texto" class="text-monospace">Texto:</label>

                    <textarea name="texto" id="texto" cols="30" rows="4" class="form-control"
                        placeholder="Digite seu texto" [(ngModel)]="postagem.texto"></textarea>
                </div>

                <!-- Botao para publicar -->
                <div class=" d-flex justify-content-end">
                    <!-- (click) = evento Onclick do JavaScript (colocar a funçao que sera chamada ao clicar)-->
                    <button type="button" class="btn btn-outline-info w-25" (click)="salvar()">Salvar</button>
                </div>
            </div>
            <!-- fim do formulario -->


        </div>

    </div>

</div>